* {
    margin: 0px;
 }

 img {
    border-radius: 75%;
    height: 10rem;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url(image.jpg);
    background-color: rgb(13, 203, 236);
}

.nav-container {
    background-color: rgb(75, 75, 75);
    overflow: hidden;
    width: 100%;
}

.container p {
    color: white;
    font-weight: bolder;
    font-family: cursive;
    /* display: inline-block; */
    font-size: 18px;
    float: right;
}