* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    border-radius: 25%;
    height: 10rem;
}

.top-bar {
    background: orange;
    flex-wrap: nowrap;
    justify-content: stretch;   
}

.nav-container {
    background-color: darkorange;
    overflow: hidden;
    width: 100%;
}

a {
    color: blue;
    font-weight: bold;
    display: inline-block;
    margin: 20px 0;
    margin-top: 33px;
    margin-left: 700px;
}

body {
    background-color: rgb(129, 177, 177);
}

  