body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(drinks.jpg);
}

.content {
    opacity: 0.85;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content header {
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: cursive;
    margin-top: 30px;
}
  
.content p {
    margin: 5%;
    color: white;
    text-align: center;
    font-size: 18px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    font-size: 1rem;
    width: 10rem;
    border: 1px solid #ffffff;
    border-radius: 5000px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(204, 204, 204, 0.5);
    /* right: 30%;
    left: 30%;
    border: 0;
    border-radius: 5000px;
    padding: 1rem 2rem;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    font-size: 1rem;
    letter-spacing: 2px;
    border: 1px solid #ffffff; */
}
