* {
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

.brand-logo {
    font-weight: 700;
}
.navbar-default {
    transition:500ms ease;
    background:transparent;
}
.navbar-default.scrolled {
    background: rgb(0, 0, 0);
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    padding: 5px;
    font-size: 15px;
    border-radius: 4px;
    color: white;
    resize: vertical;
    text-align: center;
}
/*Header Styling End*/
h1,
h2,
h3,
h4 {
margin-bottom: 1rem;
color: white;
}

h1 {
font-size: 4rem;
color: white;
text-align: center;
font-weight: bold;
margin-top: 30px;
}

h1 > span {
font-size: 2.4rem;
font-weight: 500;
}

h2 {
font-size: 4.2rem;
margin-bottom: 4rem;
font-weight: 700;
}

h3 {
font-size: 2.8rem;
font-weight: 500;
}
nav ul a {
    font-size: 1.5rem;
}
body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./drinks.jpg");
}

/* FORM */
.form {
    margin: 0 15px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 12px;
}
#trivia-questions {
    color: white;
}
.options {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 15px;
    border-radius: 4px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
option {
    color: rgb(0, 0, 0);
}
.btn.play {

display: flex;
margin: 0 auto;
}
/* GAME */
.row {
    margin: 30px auto;
}
.container {
width: 80vw;
display: flex;
justify-content: center;
align-items: center;
max-width: 80rem;
margin: 0 auto;
}
    
.container > * {
width: 80%;
}

.flex-column {
display: flex;
flex-direction: column;
}

.flex-center {
justify-content: center;
align-items: center;
}

.justify-center {
justify-content: center;
}

.text-center {
text-align: center;
}
#question {
    margin-bottom: 1rem;
}
h2#question {
    font-size: 3.3rem;
}
.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid #ffffff;
    border-radius: 4px;
    background-color: #ffffff;
}
.choice-container:hover {
    cursor: pointer;

}
.choice {
    padding: 1.5rem 2.5rem;
    background-color: rgb(124, 124, 124);
    color: #ffffff;
}
.choice-text {
    padding: 1.5rem;
    padding-right: 30rem;
    color: #000000;
}
.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}


/* TIME AND SCORE STATUS*/
#status {
    display: flex;
    justify-content: space-between;
}
.status-type {
    text-align: center;
    font-size: 1.8rem;
}
.status-text {
    text-align: center;
    margin-top: 0;
    font-size: 3rem;
}
/* BUTTONS */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    font-size: .7rem;
    width: 10rem;
    border: 1px solid #ffffff;
    border-radius: 5000px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(204, 204, 204, 0.5);
}

.btn:hover {
cursor: pointer;
background-color:rgb(120, 250, 218);
}

.btn[disabled]:hover {
cursor: not-allowed;
}

/*End GAME PAGE */
.score-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}
.score-container h1 {
    margin-bottom: 0;
}
.final {
    margin: 20px;
}
.score-label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 12px;
}
#initials {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 15px;
    border-radius: 4px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
.submit {
    display: flex;
    margin: 0 auto;
}
/* Style HighScores page*/
#finalScore {
    font-weight: 700;
}
ol {
    list-style-position: inside;
    padding: 1rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.result {
    position: absolute;
    bottom:0;
    width: 50vw;
}
.result h2 {
    font-weight: 100;
    color: rgb(189, 189, 189);
    border-top: solid;
    padding: 1rem;
}

.hide {
    display: none;
    }
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .choice-text {
        padding-right: 15rem;
    }
    h2#question {
        font-size: 2.2rem;
    }
}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    h2 {
        font-size: 22px;
        margin: 0;
    }
    h2#question {
        font-size: 22px;
    }
    .choice-text {
        padding: 1.5rem;
        padding-right: 12rem;
        font-size: 18px;
    }
}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 414px) {
    .choice-text {
        padding-right: 6rem;
    }
}
/* MEDIA QUERY FOR Small MOBILE PHONES AND SMALLER */
@media screen and (max-width: 375px) {
    .choice-text {
        padding-right: 4rem;
    }
}