<<<<<<< HEAD
:root {
    /*background-color: #000000;*/
    font-size: 62.5%;
}

* {
box-sizing: border-box;
font-family: "Times New Roman", Times, cursive;
margin: 0;
padding: 0;
color: rgb(255, 255, 255);
}
/*Header Styling start-needs to be replaced*/
header {
    width: 100vw;
    padding: 20px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
    font-weight: lighter;
    font-size: 26px;
    margin: 0;
}
header a {
    text-decoration: none;
}
header nav {
    margin: 5px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    margin: 0 15px;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 20px;
=======
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.brand-logo {
    font-family: cursive;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    padding: 5px;
    font-size: 15px;
    border-radius: 4px;
    color: white;
    resize: vertical;
    text-align: center;
>>>>>>> 52c9e1d5655b4f195146827f970833317e818612
}
/*Header Styling End*/
h1,
h2,
h3,
h4 {
margin-bottom: 1rem;
<<<<<<< HEAD
=======
color: white;
>>>>>>> 52c9e1d5655b4f195146827f970833317e818612
}

h1 {
<<<<<<< HEAD
font-size: 5.4rem;
<<<<<<< HEAD
margin-bottom: 5rem;
=======
=======
font-size: 4rem;
>>>>>>> f2ea8891386d3fc8d24c618f68e0fd63a4c6502e
color: white;
text-align: center;
font-weight: bold;
margin-top: 30px;
>>>>>>> 52c9e1d5655b4f195146827f970833317e818612
}

h1 > span {
font-size: 2.4rem;
font-weight: 500;
}

h2 {
font-size: 4.2rem;
margin-bottom: 4rem;
font-weight: 700;
}

h3 {
font-size: 2.8rem;
font-weight: 500;
}
body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./drinks.jpg");
}
/* UTILITIES 
.column {
    float: left;
    margin: 20px
}

.left {
width: 25%;
}

.right {
width: 75%;
}*/
/* FORM */
.form {
    margin: 0 15px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 12px;
}
.options {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 15px;
    border-radius: 4px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
option {
    color: rgb(0, 0, 0);
}
.btn.play {

display: flex;
margin: 0 auto;
}
/* GAME */
.container {
width: 80vw;
height: 80vh;
display: flex;
justify-content: center;
align-items: center;
max-width: 80rem;
margin: 0 auto;
}
    
.container > * {
width: 80%;
}

.flex-column {
display: flex;
flex-direction: column;
}

.flex-center {
justify-content: center;
align-items: center;
}

.justify-center {
justify-content: center;
}

.text-center {
text-align: center;
}

.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid #ffffff;
    border-radius: 4px;
    background-color: #ffffff;
}
.choice-container:hover {
    cursor: pointer;

}
.choice {
    padding: 1.5rem 2.5rem;
    background-color: rgb(124, 124, 124);
    color: #ffffff;
}
.choice-text {
    padding: 1.5rem;
<<<<<<< HEAD
    padding-right: 20rem;/*make larger clickable surface*/
=======
>>>>>>> 52c9e1d5655b4f195146827f970833317e818612
    color: #000000;
}
.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}


/* TIME AND SCORE STATUS*/
#status {
    display: flex;
    justify-content: space-between;
}
.status-type {
    text-align: center;
    font-size: 1.8rem;
}
.status-text {
    text-align: center;
}
/* BUTTONS */
.btn {
<<<<<<< HEAD
font-size: 1.8rem;
padding: 1rem 0;
width: 12rem;
text-align: center;
border: 0.1rem solid #ffffff;
border-radius: 10px;
margin: 1rem;
text-decoration: none;
color: #ffffff;
background-color: rgba(204, 204, 204, 0.5);
=======
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    font-size: .7rem;
    width: 10rem;
    border: 1px solid #ffffff;
    border-radius: 5000px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(204, 204, 204, 0.5);
/* width: 12rem;
border: 1px solid #ffffff;
border-radius: 10px;
text-decoration: none;
color: #ffffff;
border-radius: 5000px;
background-color: rgba(204, 204, 204, 0.5);
justify-content: center;
align-items: center;
font-size: 1rem;
letter-spacing: 2px;
padding: 0 0; */
>>>>>>> 52c9e1d5655b4f195146827f970833317e818612
}

.btn:hover {
cursor: pointer;
background-color:rgb(120, 250, 218);
}

.btn[disabled]:hover {
cursor: not-allowed;
}

/*End GAME PAGE */
.score-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}
.score-container h1 {
    margin-bottom: 0;
}
.final {
    margin: 20px;
}
.score-label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 12px;
}
#initials {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 15px;
    border-radius: 4px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
.submit {
    display: flex;
    margin: 0 auto;
}
/* Style HighScores page*/

ol {
    list-style-position: inside;
    padding: 1rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.result {
    position: absolute;
    bottom:0;
    width: 50vw;
}
.result h2 {
    font-weight: 100;
    color: rgb(189, 189, 189);
    border-top: solid;
    padding: 1rem;
}

.hide {
    display: none;
    }
@media screen and (max-width: 600px) {
    h2 {
        font-size: 20px;
    }
}